.content {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 4;
}

.title-top {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
  z-index: 1;
  padding: 0px 60px 10px 60px;
  color: #000000;
  text-shadow: 1px 1px 5px rgba(238, 238, 238, 0.88);
}

.title-bottom {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4;
  z-index: 1;
  padding: 50px 60px;
  color: #FFFFFF;
  text-shadow: 1px 1px 6px rgba(38, 38, 38, 0.88);
}

.text-big {
  font-size: 2.5em;
}

.text-small {
  font-size: 1.2em;
}

.slide .text-small a {
  padding: 0px;
}

.slide a:hover {
  color: white;
}

.slide a:hover .linkName {
  text-decoration: underline;
  color: white;
}

.slide .title-top .text-small a .linkName {
  color: #000000;
}

.slide a .linkArrow {
  padding-left: 8px;
}

.slide a:hover .linkArrow {
  padding-left: 12px;
  transition: all 0.2s ease;
  color: blue;
}
