nav {
  height: 4em;
  background: black;
  width: 100%;
  color: white;
}

.links {
  display: flex;
  justify-content: flex-start;
  min-width: 640px;
  max-width: 1024px;
  user-select: none;
  margin: 0 auto;
}

a {
  padding-left: 8px;
  color: white;
  text-decoration: none;
  height: 3.5em;
  font-size: 1em;
}

.links {
  padding: 0.2em 0.5em;
  line-height: 56px;
}

a:visited {
  color: white;
}

a:hover {
  color: #0000FF;
}

.spacer {
  flex: 1 1 auto;
}

.home {
  font-weight: bold;
  font-size: 1.6em;
}

a:hover .home {
  color: white;
}

.mainVideo {
  
}
